:root {
    --primary-color: #FFD333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(19, 19, 19);
}

/*************************
          HOME
**************************/

.home {
    position: relative;
    background-size: cover;
    background-image: url(../img/arca-fabrica-background.png);
    height: 100vh;
}

.home .header {
    padding: 30px 0;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.home .header .nav ul li .logo {
    width: 150px;
    height: 150px;

}

.home .header .nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 20px;
}

.home .header .nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

/*************************
       HOME - BANNER
**************************/

.home .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 770px;
    margin-top: -75px;
    margin-left: -385px;
    color: white;
    text-align: center;
}

.home .banner h1 {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home .banner .slogan {
    font-size: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
}

.home .banner .slogan:first-child {
    color: var(--primary-color);
}

/*************************
          ABOUT
**************************/

.about {
    height: 100vh;
}